regul.json
[
    {
        "id": "8639d94574434ac4",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "51a411b770a83f28",
        "type": "group",
        "z": "8639d94574434ac4",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "5952898e588b75ab",
            "a0c032433c135c0e",
            "e60a243e24f63f01"
        ],
        "x": 734,
        "y": 19,
        "w": 192,
        "h": 222
    },
    {
        "id": "38578e77e8bb41f1",
        "type": "group",
        "z": "8639d94574434ac4",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "61aa87222d4e078e",
            "54312eacec5f3b78"
        ],
        "x": 734,
        "y": 259,
        "w": 192,
        "h": 122
    },
    {
        "id": "19ffc0e30789ea0f",
        "type": "group",
        "z": "8639d94574434ac4",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "b1a259fabb098be7",
            "f6a599246ad28f08"
        ],
        "x": 774,
        "y": 399,
        "w": 152,
        "h": 162
    },
    {
        "id": "c92fb0aae433d820",
        "type": "serial in",
        "z": "8639d94574434ac4",
        "name": "Input",
        "serial": "dcaf294d71d648bf",
        "x": 50,
        "y": 320,
        "wires": [
            [
                "5cb9cb1c5a85434a",
                "0f6e328a0ceb12e5"
            ]
        ]
    },
    {
        "id": "5cb9cb1c5a85434a",
        "type": "json",
        "z": "8639d94574434ac4",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 250,
        "y": 320,
        "wires": [
            [
                "33e3c724338cd37a",
                "db14c5b4fa078c81",
                "1f837830c12f11d6",
                "787129ead45a5bae",
                "f3b45ff3a8fe7698"
            ]
        ]
    },
    {
        "id": "33e3c724338cd37a",
        "type": "function",
        "z": "8639d94574434ac4",
        "name": "getTemperature",
        "func": "msg.topic = \"temperature\";\nmsg.payload =  msg.payload.status.temperature;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 320,
        "wires": [
            [
                "a0c032433c135c0e",
                "61aa87222d4e078e"
            ]
        ]
    },
    {
        "id": "5952898e588b75ab",
        "type": "ui_gauge",
        "z": "8639d94574434ac4",
        "g": "51a411b770a83f28",
        "name": "",
        "group": "7b8bf5f5bdf63dcf",
        "order": 1,
        "width": 8,
        "height": 5,
        "gtype": "gage",
        "title": "Light",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "4055",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 60,
        "wires": []
    },
    {
        "id": "db14c5b4fa078c81",
        "type": "function",
        "z": "8639d94574434ac4",
        "name": "getLight",
        "func": "msg.topic = \"light\";\nmsg.payload =  msg.payload.status.light;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 160,
        "wires": [
            [
                "5952898e588b75ab",
                "54312eacec5f3b78"
            ]
        ]
    },
    {
        "id": "a0c032433c135c0e",
        "type": "ui_gauge",
        "z": "8639d94574434ac4",
        "g": "51a411b770a83f28",
        "name": "",
        "group": "7b8bf5f5bdf63dcf",
        "order": 2,
        "width": 8,
        "height": 5,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 200,
        "wires": []
    },
    {
        "id": "61aa87222d4e078e",
        "type": "ui_chart",
        "z": "8639d94574434ac4",
        "g": "38578e77e8bb41f1",
        "name": "Temp Chart",
        "group": "7b8bf5f5bdf63dcf",
        "order": 4,
        "width": 8,
        "height": 5,
        "label": "Temp Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#80ffff",
            "#aec7e8",
            "#ff7f0e",
            "#004080",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "b1a259fabb098be7",
        "type": "ui_led",
        "z": "8639d94574434ac4",
        "g": "19ffc0e30789ea0f",
        "order": 3,
        "group": "722b632fabea1a7e",
        "width": 4,
        "height": 1,
        "label": "Fire",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffffff",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Fire",
        "x": 850,
        "y": 520,
        "wires": []
    },
    {
        "id": "1f837830c12f11d6",
        "type": "function",
        "z": "8639d94574434ac4",
        "name": "getFire",
        "func": "msg.topic = \"fire\";\nmsg.payload = msg.payload.status.fire;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 500,
        "wires": [
            [
                "b1a259fabb098be7"
            ]
        ]
    },
    {
        "id": "787129ead45a5bae",
        "type": "function",
        "z": "8639d94574434ac4",
        "name": "getRegul",
        "func": "msg.topic = \"regul\";\nmsg.payload = msg.payload.status.regul;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 400,
        "wires": [
            [
                "f6a599246ad28f08"
            ]
        ]
    },
    {
        "id": "f6a599246ad28f08",
        "type": "ui_led",
        "z": "8639d94574434ac4",
        "g": "19ffc0e30789ea0f",
        "order": 2,
        "group": "722b632fabea1a7e",
        "width": 4,
        "height": 1,
        "label": "Regul",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#0000ff",
                "value": "HEAT",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "HALT",
                "valueType": "str"
            },
            {
                "color": "#ff0000",
                "value": "COLD",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Regul",
        "x": 850,
        "y": 440,
        "wires": []
    },
    {
        "id": "f3b45ff3a8fe7698",
        "type": "function",
        "z": "8639d94574434ac4",
        "name": "getFanSpeed",
        "func": "msg.topic = \"fanSpeed\";\nmsg.payload = msg.payload.status.fanspeed;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 240,
        "wires": [
            [
                "e60a243e24f63f01"
            ]
        ]
    },
    {
        "id": "e60a243e24f63f01",
        "type": "ui_gauge",
        "z": "8639d94574434ac4",
        "g": "51a411b770a83f28",
        "name": "",
        "group": "722b632fabea1a7e",
        "order": 1,
        "width": 8,
        "height": 5,
        "gtype": "wave",
        "title": "Fan",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "255",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 140,
        "wires": []
    },
    {
        "id": "54312eacec5f3b78",
        "type": "ui_chart",
        "z": "8639d94574434ac4",
        "g": "38578e77e8bb41f1",
        "name": "",
        "group": "7b8bf5f5bdf63dcf",
        "order": 3,
        "width": 8,
        "height": 5,
        "label": "Light Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#80ffff",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "99d98ae968cea4ef",
        "type": "ui_slider",
        "z": "8639d94574434ac4",
        "name": "Low Temp (lt)",
        "label": "Low Temp (lt)",
        "tooltip": "",
        "group": "722b632fabea1a7e",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "lt",
        "topicType": "str",
        "min": "0",
        "max": "24",
        "step": 0.1,
        "className": "",
        "x": 400,
        "y": 600,
        "wires": [
            [
                "6e42aa47ddb0dea2"
            ]
        ]
    },
    {
        "id": "6ce28daea5bda1ed",
        "type": "ui_slider",
        "z": "8639d94574434ac4",
        "name": "High Temp (ht)",
        "label": "High Temp (ht)",
        "tooltip": "",
        "group": "722b632fabea1a7e",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "ht",
        "topicType": "str",
        "min": "25",
        "max": "50",
        "step": 0.1,
        "className": "",
        "x": 400,
        "y": 660,
        "wires": [
            [
                "6e42aa47ddb0dea2"
            ]
        ]
    },
    {
        "id": "6e42aa47ddb0dea2",
        "type": "function",
        "z": "8639d94574434ac4",
        "name": "Format Serial Data",
        "func": "let lt = flow.get('lt') || 26.0;\nlet ht = flow.get('ht') || 25.8;\nif (msg.topic === 'lt') {\n    lt = msg.payload;\n    flow.set('lt', lt);\n} else if (msg.topic === 'ht') {\n    ht = msg.payload;\n    flow.set('ht', ht);\n}\nmsg.payload = `LT:${lt.toFixed(1)},HT:${ht.toFixed(1)}\\n`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "\nlet lt = 26.0;\nlet ht = 25.8;",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 620,
        "wires": [
            [
                "3438588e616b1767"
            ]
        ]
    },
    {
        "id": "3438588e616b1767",
        "type": "serial out",
        "z": "8639d94574434ac4",
        "name": "Serial Out",
        "serial": "serial1",
        "x": 820,
        "y": 600,
        "wires": []
    },
    {
        "id": "0f6e328a0ceb12e5",
        "type": "debug",
        "z": "8639d94574434ac4",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 110,
        "y": 140,
        "wires": []
    },
    {
        "id": "03192df4e47a2fd5",
        "type": "inject",
        "z": "8639d94574434ac4",
        "name": "inject it",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "24",
        "payloadType": "num",
        "x": 140,
        "y": 580,
        "wires": [
            [
                "99d98ae968cea4ef"
            ]
        ]
    },
    {
        "id": "8d71292716e1fdfa",
        "type": "inject",
        "z": "8639d94574434ac4",
        "name": "inject lt",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "26",
        "payloadType": "num",
        "x": 120,
        "y": 640,
        "wires": [
            [
                "6ce28daea5bda1ed"
            ]
        ]
    },
    {
        "id": "565f466ad3dfec99",
        "type": "ui_spacer",
        "z": "8639d94574434ac4",
        "name": "spacer",
        "group": "722b632fabea1a7e",
        "order": 4,
        "width": 8,
        "height": 1
    },
    {
        "id": "35fbf8395ad9f2e4",
        "type": "ui_spacer",
        "z": "8639d94574434ac4",
        "name": "spacer",
        "group": "722b632fabea1a7e",
        "order": 6,
        "width": 8,
        "height": 1
    },
    {
        "id": "dcaf294d71d648bf",
        "type": "serial-port",
        "name": "esp32",
        "serialport": "COM3",
        "serialbaud": "9600",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "7b8bf5f5bdf63dcf",
        "type": "ui_group",
        "name": "Light and Temperature",
        "tab": "856a333fddd3778c",
        "order": 1,
        "disp": true,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "722b632fabea1a7e",
        "type": "ui_group",
        "name": "Control",
        "tab": "856a333fddd3778c",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "serial1",
        "type": "serial-port",
        "serialport": "COM3",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char"
    },
    {
        "id": "856a333fddd3778c",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cfd5333ef4c7ca6d",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-serialport": "2.0.3",
            "node-red-dashboard": "3.6.6",
            "node-red-contrib-ui-led": "0.4.11"
        }
    }
]